//META{"name":"Eased","description":"Aims to compact and simplify Discord, while staying true to its dark theme.","author":"Chaost#9871","version":"3.0"}*//{}

@import url("https://rawgit.com/Henduww/EasedDiscordTheme/master/EasedSC.css");

:root {
    --img-url: url(http://sfwallpaper.com/images/cool-desktop-wallpapers-hd-5.jpg);
    --chat-bck: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), var(--img-url); /* Chat Background */
    --main-clr: 255, 129, 40; /* Main color RGB */
    --dark-clr: 30, 30, 30; /* Dark color RGB, the darkest shade */
}